<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form class="restaurant-form" action="/<% if (editing) { %>edit-post<% } else { %>add-restaurant<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="name" name="name" id="name" value="">
            </div>
            <div class="form-control">
                <label for="address">Address</label>
                <textarea name="address" id="address" rows="5"></textarea>
            </div>
            <div class="form-control">
                <label for="phone">Phone</label>
                <textarea name="phone" id="phone" rows="5"></textarea>
            </div>
            <button class="btn" type="submit">Add Restaurant</button>
        </form>
    </main>
</body>