<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form class="restaurant-form" action="/delete-restaurant" method="DELETE">
            <div class="form-control">
                <label for="name">Name</label>
                <input type="name" name="name" id="name" value="">
            </div>
            <button class="btn" type="submit">삭제하시겠습니까?</button>
        </form>
    </main>
</body>