<head></head>
</head>

<body>

    <main>
        <form class="product-form" action="/user/signin" method="POST">
            <div class="form-control">
                <label for="userName">Name</label>
                <input type="text" name="userName" id="userName" value="">
            </div>
            <div class="form-control">
                <label for="id">ID</label>
                <input type="text" name="id" id="id" value="">
            </div>
            <div class="form-control">
                <label for="password">password</label>
                <input type="password" name="password" id="password" value="">
            </div>

            <button class="btn" type="submit">Sign in</button>
        </form>
    </main>